* {
--border-color: teal;
--background-color: blue;
}

body{
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(8, 21, 101, 0.925);
  align-items: center;
}

nav{
  margin-right: 75px;
}

header a{
  margin: 2px;
  text-decoration-color: var(--background-color) ;
  color: teal;
}

header h1{
  background-color: teal;
  padding: 8px;
  margin: 5px;
  margin-left: 0px;
}

main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: calc(100vh - 237px);
}

section{
  display: flex;
}

section h2{
  flex: 1;
}

section div{
  flex: 4;
}

.hero {
  background-color: red;
  height: 200px;
  width: 100%;
  background-image: url("../images/hero2.jpg"); 
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.hero-text{
  width: 300px;
  height: 20px;
  background-color: lightblue;
  text-align: center;
  left: 760px;
  top: 165px;
  position: relative;
}
.side-border{
  border-right: 2px solid darkblue;
  margin-right: 15px;
  padding: 5px;
  text-align: right;
  word-spacing: 9999rem;
}

.work{
  margin-top: 25px;
  margin-bottom: 25px;
}

.card-container{
  display:flex;
  flex-wrap: wrap;
}

.content-container{
  flex-basis: 77%;
}
.card{
  flex-grow: 1;
  flex-basis: 33%;
  min-height: 200px;
  /* background-color: var(--background-color); */
  margin: 0.5rem;
  border: 2px solid var(--border-color);
  text-align: center;
}

.card img{
  width: 741px;
  height: 462px;
}

.big-card{
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 300px;
  margin: 0.5rem;
  border: 2px solid var(--border-color);
  text-align: center;
}


.contact-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


@media screen and (max-width: 992px){
  section, .work, .card-container{
    flex-direction: column;
  }
}

@media screen and (max-width: 768px){
  section, .work, .card-container{
    flex-direction: column;
  }
}

@media screen and (max-width: 576px){
  section, .work, .card-container{
    flex-direction: column;
  }
}
